/*!jonimar.titan@gmail.com*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}td{vertical-align:middle;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1.618em}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}html{min-height:100%;position:relative;}body{margin:0 0 100px}
/*cabeçalho*/
*,
*:before,
*:after{
    box-sizing: border-box;
}
header{
    margin:0 auto;
    padding:5px 0;
    height:60px;
    transition:all .5s;
}
header .logo{
    float:left;
    padding:0;
    height:40px;
    width:40px;
    transition:all .5s
}
header .logo img{
    width:40px;
    transition:all .5s
}
header a{
    text-decoration:none;
}
header a.logo{
    margin:5px 10px;
    padding:0
}
header h1{
    font-size:150%;
    font-weight:bold;
}
/*logotipo*/
header .logo{
    background-size:149% auto;
    background-position:center top -10px;
}
/*menu*/
nav{
    margin:0 auto;
    max-width:800px
}
nav ul ul{
    display:none;
    padding:0;
    position:absolute
}
nav ul li:hover>ul,nav ul li:focus>ul{
    display:block
}
nav ul{
    padding:0 5px;
    list-style:none;
    position:relative
}
nav ul:after{
    content:"";
    clear:both;
    display:block
}
nav ul li{
    float:left
}
nav ul li a{
    display:block;
    padding:5px 7px;
    text-decoration:none
}
nav ul ul li{
    float:none;
    position:relative;
    max-width:200px
}
nav ul ul li a{
    padding:5px 10px;
    transition:all .3s
}
nav ul ul ul{
    position:absolute;
    left:100%;
    top:0
}
main{
    margin:0 auto 300px;
    clear:both;
}
header ~ main{
    margin: 50px 100px 0;
}
/*rodapé*/
footer{
    position:absolute;
    bottom:0;
    width:100%;
    height:auto;
    text-align:center;
}
footer address{
    padding:5px 10px;

}
body{
    margin:0 auto;
}
.center{
    margin:0 auto;
}
.centralizar{
    text-align:center;
}
/*informação*/
details{
    display:block;
    padding:10px;
    width:80%;
    margin:0 auto;
}
details summary{
    font-weight:bold;
    font-size:120%;
}

/*Fontes*/
small{
    font-size:50%;
}
footer small{
    font-size:70%;
}

/*PrimeFaces*/
.ui-menu{
    padding:0;
    margin:0 auto;
}
.ui-menu, .ui-menu .ui-menu-child{
    border:0;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
    border:0;
    box-shadow:none;
    border-radius:0;
}
.ui-menubar .ui-menuitem-link{
    line-height:25px;
}
.ui-corner-all{
    border-radius:0;
}
/*widget*/
.ui-widget-header,
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
    border:0;
    text-shadow:none;
}
.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield,
.ui-widget input{
    line-height:30px;
    min-width:100px;
}
.ui-widget input{
    border:0;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
    text-shadow:none;
    box-sizing: border-box;
}

.ui-panel{
    margin-bottom:10px;
}
.ui-dashboard-column{
    width: 100%;
}
.ui-panel.painel{
    margin-bottom:10px;
    width:100%;
}
.ui-panel.painel .ui-datatable tbody td{
    text-align:center;
}
.triagem_painel table tbody tr td{
    width:90px !important;
    text-align:right
}
/*paginação*/
.ui-paginator .ui-icon{
    height:16px !important;
}
.ui-paginator .ui-paginator-page,
.ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-last,
.ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev{
    height:30px;
}
/*table*/
table{
    width:100%;
}
table label{
    box-sizing:border-box;
    display:inline-block;
    line-height:38px;
    width:100%;
    min-width:100px;
    text-align:right;
    padding:0 5px;
}
#welcome table label{
    width:auto;
    text-align:initial;
}
.selecionado{
    pointer-events: none;
    background-color: #00a859 !important;
}
.ui-selectonemenu{
    display:flex !important;
    display:-moz-box !important;
    padding-right: 0 !important;
}
.ui-widget.ui-selectonemenu{
    width:initial !important;
    max-width: 300px !important;
    border-radius: 0 5px 5px 0 !important;
    background-color: transparent !important;
}
.ui-widget.ui-selectonemenu .ui-inputfield{
}
.ui-selectonemenu .ui-selectonemenu-label{
    text-align:initial;
}
li.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-corner-all.ui-state-hover{
    color:#fff !important;
}
li.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-corner-all.ui-state-highlight{
    color:#fff;
}
table input{
    width:100%;
}
table tbody tr{
    border-bottom:3px solid transparent;
}
.ui-fieldset{
    margin-bottom:15px;
}
.ui-fieldset, .ui-fieldset .ui-fieldset-legend{
    padding:10px !important;
}
/*botões*/
.botao2{
    padding:10px;
}
a.botao2{
    padding-left:30px !important;
    text-decoration:none !important;
    color:#fff !important;

}
.ui-state-default .ui-icon,
.ui-widget-content .ui-icon{
    background-image:url("#{facesContext.externalContext.requestContextPath}/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-aristo");
}
.ui-button-icon-only .ui-icon, .ui-button-text-icon-left .ui-icon, .ui-button-text-icon-right .ui-icon{
    margin-top:-15px !important;
    height:30px;
    width:30px;
    display: none;
}
/*Login*/
#welcome{
    max-width:300px;
    min-width:300px;
    padding:10px;
    margin:0 auto;
    display:table;
    position: absolute;
    left: calc(50% - 190px);
    top: calc(50% - 212px);
}
#welcome.escolha{
    left: calc(50% - 150px);
    top: calc(50% - 190px);
}
/*formulario*/
.ui-inputfield{
    box-sizing:border-box;
}
.ui-datatable-tablewrapper{
    overflow:initial !important;
}
.ui-datatable tbody td .iconebt{
    margin:0 auto !important;
    display:flex;
    border-radius: 100%;
}
/*ícones*/
.ui-datatable .ui-row-editor .ui-icon-close,
.ui-datatable .ui-row-editor .ui-icon-check,
.ui-datatable .ui-row-editor .ui-icon-pencil,
.iconebt{
    background-position:center top 4px !important;
    background-size:80% auto !important;
    background-repeat:no-repeat !important;
    transition:all 0.3s ease 0s !important;
    height:40px !important;
    width:40px !important;
    display:inline-block;
    vertical-align:middle;
    border:0;
    border-radius: 100%;
    cursor: pointer;
}
.ui-button:hover,
.ui-wizard-nav-next:hover,
.ui-wizard-nav-back:hover,
.ui-datatable .ui-row-editor .ui-icon-close:hover,
.ui-datatable .ui-row-editor .ui-icon-check:hover,
.ui-datatable .ui-row-editor .ui-icon-pencil:hover,
.icone2:hover,
.iconebt:hover{
    background-color: #00a859 !important;
}
.iconebt:hover{
    border-radius: 100%
}
.ui-button:active,
.ui-wizard-nav-next:active,
.ui-wizard-nav-back:active,
.ui-datatable .ui-row-editor .ui-icon-close:active,
.ui-datatable .ui-row-editor .ui-icon-check:active,
.ui-datatable .ui-row-editor .ui-icon-pencil:active,
.icone2:active,
.iconebt:active{
    background-color: #ffcc29 !important;
}
.iconebt2{
    background-color: transparent !important;
    background-image:url("#{resource['images/pc.svg']}") !important;
    box-shadow: none !important;
}
.icone2{
    background-position:top 2px left !important;
    background-size:30px auto !important;
    background-repeat:no-repeat !important;
    transition:all 0.3s ease 0s !important;
    padding-left:12px !important;
}
.icone3{
    background-position:top -1px left !important;
    background-size:35px auto !important;
    background-repeat:no-repeat !important;
    transition:all 0.3s ease 0s !important;
    padding-left:30px !important;
}
.grupo_botoes{
    clear: both;
    background:transparent;
    margin-bottom:105px;
    border:0;
    text-align: center;
}

/*posicionamento, posições*/
.esq{
    float:left;
}
.dir{
    float:right;
}
.textini{
    text-align:initial
}
/*multi-selector*/
.ui-selectonemenu .ui-selectonemenu-trigger{
    width: 23px !important;
    height:40px !important;
    position:initial !important;
    background-color: #008cc8;
}
.ui-selectonemenu .ui-selectonemenu-trigger.ui-state-focus,
.ui-selectonemenu .ui-selectonemenu-trigger.ui-state-hover{
    border-bottom-right-radius: 3px !important;
    border-top-right-radius: 3px !important;
}
    /*perfil*/
.perfil .ui-panel-content{
    padding:0 !important;
}
.perfil{
    display:block;
    height:60px;
    width:180px;
    right:0;
    position:absolute;
    font-size:13px;
    overflow:hidden;
    transition:all .5s;
    z-index:4;
    border:0;
    line-height:20px;
}
.perfil:hover{
    height:200px;
}
.perfil li{
    padding-left:7px;
    list-style:none;
    margin-bottom:2px;
}
.perfil .sair a{
    display:none;
    position:absolute;
    bottom:0;
    right:0;
    padding:5px 7px;
    text-decoration:none;
    margin-bottom:5px;
}
.perfil:hover .sair a{
    display:block;
    color:#fff !important;
}
.perfil .usuario{
    text-transform:capitalize !important;
    line-height:15px;
    max-width:143px;
    max-height:15px;
    overflow:hidden;
}
.perfil:hover .sair a:hover{
    color:#000;
}
.perfil .avatar{
    background-image:url("#{resource['images/pessoa.svg']}");
    background-position:top;
    background-repeat:no-repeat;
    background-size:50px;
    width:50px;
    height:50px;
    float:right;
    transition:all .3s;
}
.perfil .avatar .avatar-imagem{
    width:45px;
    height:45px;
    display: block;
}
.perfil .avatar:hover{
    background-color: #008cc8;
}
.perfil:hover .avatar{
    background-position:center;
    background-size:50px;
}
.perfil:focus .avatar,.perfil:active .avatar{
    background-position:bottom;
    background-size:50px;
}
/*Calendário*/
.ui-datepicker td{
    padding:0 !important;
}
.ui-datepicker .ui-state-default{
    background:transparent;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current{
    background: #008cc8;
    color: #fff;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current.ui-state-hover{
    background: #2f4d8b;
    color: #fff !important;
}
.ui-datepicker .ui-datepicker-current-day .ui-state-highlight, .ui-datepicker .ui-datepicker-current-day .ui-state-default{
    background: #ed3237;
    text-shadow: none;
}
/*messages*/
.ui-messages-info, .ui-message-info,
.ui-messages-error, .ui-message-error{
    border:0 !important;
    background-image:url("#{resource['images/atencao2.svg']}") !important;
    background-size:70px auto;
    background-repeat:no-repeat;
    background-position:left -10px bottom -12px;
    animation:abrir2 .3s 1 linear;
}
.ui-messages-error, .ui-message-error{
    background-position:left -10px top -10px;
    background-color:#cd0a0a !important;
    color:#fff !important;
}
.ui-messages-info-icon,
.ui-messages-error-icon{
    background:none !important;
}
/*ocultar filtros de coluna*/
.ui-column-filter{
    display:none !important;
}
/*upload de arquivos*/
.ui-fileupload-buttonbar{
    background-color: #f4f4f4 !important;
}
.ui-fileupload-buttonbar .ui-fileupload-choose input{
    transform:initial !important;
    background-image:url("#{resource['images/editar.svg']}") !important;
}
.ui-fileupload-buttonbar .ui-fileupload-choose{
    background-image:url("#{resource['images/pasta.svg']}") !important;
    background-size: 30px auto !important;
    background-repeat: no-repeat!important;
    background-position: left top!important;
}
.ui-fileupload-buttonbar .ui-fileupload-upload{
    background-image:url("#{resource['images/upload.svg']}") !important;
    background-size: 30px auto !important;
    background-repeat: no-repeat!important;
    background-position: left top!important;
}
.ui-fileupload-buttonbar .ui-fileupload-cancel{
    background-position: left top !important;
    width: auto !important;
}
.ui-fileupload-cancel{
    background-image:url("#{resource['images/excluir.svg']}") !important;
    background-size: 30px auto !important;
    background-repeat: no-repeat !important;
    background-position: center top !important;
    width: 30px !important;
}
.ui-fileupload-content{
    border: 0;
    background-color: #ECECEC;
}
.none{
    float:none;
}
.ui-datatable .ui-row-editor .ui-icon-pencil{
    background-image:url("#{resource['images/editar.svg']}") !important;
    margin-bottom: 3px;
}
.ui-datatable .ui-row-editor .ui-icon-check{
    background-image:url("#{resource['images/visto.svg']}") !important;
    display:none;
}
.ui-datatable .ui-row-editor .ui-icon-close{
    background-image:url("#{resource['images/excluir.svg']}") !important;
    display:none;
}
.avaliar .ui-chkbox .ui-chkbox-box{
    width:80px !important;
    height:54px !important;
    background:#ccc;
}
.avaliar .ui-chkbox-icon.ui-icon{
    width:80px !important;
    height:54px !important;
    border-radius:0;
    background-color:#ccc;
    background-image:none;
}
.avaliar .ui-state-active .ui-icon{
    display:block !important;
}
.avaliar .ui-widget .ui-state-active{
    opacity:1;
}
.ui-paginator-page.ui-state-active{
    pointer-events:none;
}
.ui-datatable .ui-sortable-column.ui-state-active .ui-sortable-column-icon{
    display:none !important;
}
.otimo .ui-state-active .ui-icon{
    background-image:url("#{resource['images/otimo.svg']}") !important;
    background-size:80px auto!important;
    background-position:top -14px center !important;
    background-color:#34A853 !important;
    width:80px !important;
    height:54px !important;
    border-radius:0;
}
.bom .ui-state-active .ui-icon{
    background-image:url("#{resource['images/bom.svg']}") !important;
    background-size:80px auto!important;
    background-position:top -14px center !important;
    background-color:#4285F4 !important;
    width:80px !important;
    height:54px !important;
    border-radius:0;
}

.regular .ui-state-active .ui-icon{
    background-image:url("#{resource['images/regular.svg']}") !important;
    background-size:80px auto!important;
    background-position:bottom -13px center !important;
    background-color:#FBBC05 !important;
    width:80px !important;
    height:54px !important;
    border-radius:0;
}
.ruim .ui-state-active .ui-icon{
    background-image:url("#{resource['images/ruim.svg']}") !important;
    background-size:80px auto!important;
    background-position:top -14px center !important;
    background-color:#EA4335 !important;
    width:80px !important;
    height:54px !important;
    border-radius:0;
}
.nada .ui-state-active .ui-icon{
    background-image:url("#{resource['images/nada4.svg']}") !important;
    background-size:80px auto!important;
    background-position:top -14px center !important;
    background-color:#9A9A9A !important;
    width:80px !important;
    height:54px !important;
    border-radius:0;
}
.ui-tree{
    width:auto !important;
    line-height:30px;
    font-size:20px !important;
}
.ui-datatable .ui-selection-column .ui-chkbox-all{
    display:initial !important;
}
/*checkbox*/
.ui-chkbox .ui-chkbox-box{
    background:#ccc;
    width:30px !important;
    height:30px !important;
    border-radius:0;
    cursor:pointer;
    vertical-align:middle;
}
.ui-icon.ui-icon-check{
    width:30px !important;
    height:30px !important;
    border-radius:0;
    background-image:url("#{resource['images/visto.svg']}") !important;
    background-size:100%;
    background-position:top center;

}
.ui-icon.ui-icon-close{
    width:30px !important;
    height:30px !important;
    border-radius:0;
    background-image:url("#{resource['images/excluir.svg']}") !important;
    background-size:100%;
    background-position:top center;

}
.ui-grid{
    border: 0;
    padding: 10px 0 !important;
}


/*relogio*/
.ui-widget-header.ui-clock{
    color:#fff;
    background: transparent !important;
}
.w100{
    width:100% !important;
}
.w50{
    width:50px !important;
}
.max100{
    max-width: 100px !important;
}
.max200{
    max-width: 200px !important;
}
.max300{
    max-width: 300px !important;
}
/*wizard*/
.ui-wizard-step-title{
    background-color:#B2DFDB !important;
    color:#fff !important;
}
.ui-wizard-step-title.ui-state-highlight{
    background-color: #008cc8 !important;
    padding-right: 40px;
    background-image:url("#{resource['images/dir2.svg']}") !important;
    background-size:50px auto !important;
    background-position:right -3px top -5px !important;
    background-repeat: no-repeat !important;
}
.ui-wizard-step-title.ui-state-highlight:last-of-type{
    background-image:url("#{resource['images/finalizar.svg']}") !important;
}
.ui-wizard-step-title .ui-button-text-icon-left .ui-icon{
}
.ui-button-icon-left.ui-icon.ui-c.ui-icon-arrowthick-1-w{
    background-image:url("#{resource['images/esq2.svg']}");
}
.ui-wizard-nav-next{
    background-image:url("#{resource['images/dir.svg']}") !important;
    background-size: 30px auto !important;
    background-repeat: no-repeat !important;
    background-position: right top !important;
    padding-right: 20px !important;
}
.ui-wizard-nav-back{
    background-image:url("#{resource['images/esq.svg']}") !important;
    background-size: 30px auto !important;
    background-repeat: no-repeat !important;
    background-position: left top !important;
}
/*notificação*/
.notificacao{
    max-width:300px;
    min-width:200px;
    position:absolute;
    right:10px;
    top:115px;
    box-shadow:0 0 10px #000;
    padding:10px;
    background:#FDEC68;
    z-index:3;
    transform:rotate(3deg);
    transition:all .2s;
}
.notificacao .ui-datalist-header{
    background:transparent !important;
    color:#000;
}
.notificacao .ui-widget-content{
    border:0;
}
.notificacao li button{
    width:100%;
    text-align:left;
    background:#FDEC68 !important;
    padding-bottom:1px;
    color:#000 !important;
    font-weight:normal !important;
}
.notificacao .ui-datalist-item{
    background-color:#FDEC68;
}
.rolagem{
    max-height: 500px;
    border: 0;
}
@media only screen and (max-width:1280px){
    .notificacao{
        position:initial;
        transform:none;
        margin:0 auto;
        max-width:60%;
    }
}
@media only screen and (max-width:1016px){
.ui-panel.painel{
    margin-bottom: 10px;
    width: 100% !important;
}
}
@media only screen and (max-width:999px){
    .menu-topo{
        padding-left: 101px;
    }
    header ~ main{
        margin-top: 50px;
    }
}
@media only screen and (min-width:1000px){
    main{
        box-sizing: border-box;
        max-width: 100%;
        margin-left: 105px;
        margin-right: 105px;
    }
    header ~.acesso{
        position: absolute !important;
    }
/*
    .colunas2{
        -webkit-column-count: 2;
        column-count: 2;
        -webkit-column-gap: 5px;
        column-gap: 5px;
    }
    .colunas2 .ui-panel{
        -webkit-column-break-inside: avoid;
        column-break-inside: avoid;
    }
 */
}
/*Cores das Seções*/
.plansaude-mostrar .ui-accordion-header{
    background-color: #4F8CCB !important;
}
.folha-mostrar .ui-accordion-header{
    background-color:#34A853 !important;
}
/* mostrar menu por seção */
.menu-plansaude .ui-accordion-header,
.menu-plansaude .ui-accordion-header + .ui-accordion-content{
    display: none;
}
.menu-plansaude .plansaude-mostrar .ui-accordion-header,
.menu-plansaude .plansaude-mostrar .ui-accordion-header + .ui-accordion-content{
    display: block;
}
.menu-folha .ui-accordion-header,
.menu-folha .ui-accordion-header + .ui-accordion-content{
    display: none;
}
.menu-folha .folha-mostrar .ui-accordion-header,
.menu-folha .folha-mostrar .ui-accordion-header + .ui-accordion-content{
    display: block;
}
.menu-transporte .ui-accordion-header,
.menu-transporte .ui-accordion-header + .ui-accordion-content{
    display: none;
}
.menu-transporte .transporte-mostrar .ui-accordion-header,
.menu-transporte .transporte-mostrar .ui-accordion-header + .ui-accordion-content{
    display: block;
}
.menu-epraja .ui-accordion-header,
.menu-epraja .ui-accordion-header + .ui-accordion-content{
    display: none;
}
.menu-epraja .epraja-mostrar .ui-accordion-header,
.menu-epraja .epraja-mostrar .ui-accordion-header + .ui-accordion-content{
    display: block;
}
.menu-corregedoria .ui-accordion-header,
.menu-corregedoria .ui-accordion-header + .ui-accordion-content{
    display: none;
}
.menu-corregedoria .corregedoria-mostrar .ui-accordion-header,
.menu-corregedoria .corregedoria-mostrar .ui-accordion-header + .ui-accordion-content{
    display: block;
}

/*mensagens*/
.ui-growl-item{
    background-color: #fd0;
    border: 0 !important;
    background-image: url("#{resource['images/atencao2.svg']}") !important;
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: left -20px bottom -10px;
    border: 0 !important;
}
.ui-growl-item .ui-growl-image-info{
    display: none;
}
@media only screen and (max-width:900px){
    header ~ main {
        margin: 60px auto 0;
    }
}
@media only screen and (min-width:621px){
    .perfil{
        margin-top:-61px;
    }
    .notificacao{
        top:60px;
    }
}
@media only screen and (max-width:620px){
    #welcome{
        top: calc(50% - 243px);
    }
    header{
        height:auto;
        min-height: 50px;
    }
    .perfil{
        margin-top:5px;
    }
}
@media only screen and (max-width:345px){
    header h2{
        display:none;
    }
}
/*animation*/
.goog-combobox .goog-menu{
    animation:abrir .3s 1 linear;
    overflow: hidden;
}
.box:hover .girar,.box:focus .girar{
    animation:girarr .5s 1 linear;
    transition:none;
}
.box:active .girar{
    animation:girarl .5s 1 linear;
}
.box:hover .balancar,.box:focus .balancar{
    animation:balancar .2s 3 linear;
}
/*testes*/
.erros,
.erros td{
    background:#fd0;
    border:1px solid #000;
}
.ui-datatable .ui-sortable-column-icon{
    display: none !important;
}
/*chart*/

.google-visualization-table-tr-odd {
    background-color: #ECECEC !important;
}
.goog-menu-button{
    background: #fff !important;
}
.goog-menu-button:hover{
    background: #008cc8 !important;
    color: #fff;
}
.google-visualization-table-page-number{
    padding: 0 10px !important;
}
.google-visualization-table-page-number.current{
    background-color: #008cc8 !important;
    color: #fff;
}
.google-visualization-table-page-number:hover{
    background-color: #30719E !important;
    color: #fff;
}
table.jqplot-table-legend, table.jqplot-cursor-legend{
    width:auto !important;
}
td.jqplot-table-legend{
    line-height:20px;
}
.ui-dashboard-column{
    padding-bottom:20px !important;
    min-width:50%;
}
/*painel*/
.painel_legenda tr{
    line-height:15px;
}
.ui-panel.painel_legenda{
    margin-bottom:10px;
}
.painel_legenda .ui-panelgrid-cell{
    border-color:#fff !important;
}
.h100{
    margin-bottom:100px;
}
table.ui-selectoneradio{
    width: 400px;
}
.ui-selectoneradio tbody tr td:nth-child(odd){
    width: 30px !important;
}
.ui-selectoneradio tbody tr td:nth-child(even){
}
.ui-selectoneradio tr:hover{
    color:#fff;
    cursor:pointer;
}
.ui-selectoneradio label{
    background:transparent;
    text-align:left;
}
.ui-selectoneradio td:hover label{
    color:#fff;
    cursor:pointer;
}
.ui-selectoneradio .ui-radiobutton{
    padding:0 10px;
}
.ui-radiobutton-box .ui-state-active + td label{
    background:#fd0;
}
.ui-dialog .ui-dialog-titlebar-close{
    border-radius: 100% !important;
    transition: all .5s;
}
.ui-dialog .ui-dialog-titlebar-close:hover{
    transform: scale(1.2);
}
.ui-dialog .ui-dialog-titlebar-close span{
    width:30px;
    height:30px;
    background-image:url("#{resource['images/excluir.svg']}") !important;
    background-size:100% auto;
    background-position:bottom;
}
.ui-dialog .ui-dialog-titlebar-close span:hover{
    background-position:top;
}
header a,
nav ul li a,
nav ul ul li a,
nav ul ul li a:hover,nav ul ul li a:focus,
.ui-widget-header,
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight,
.perfil:hover li,
.perfil:focus, .perfil:active,
.perfil:focus li, .perfil:active li{
color:#000;
}
.ui-state-focus, .ui-widget-content .ui-state-focus,
.ui-state-hover, .ui-widget-content .ui-state-hover,
.ui-paginator .ui-paginator-rpp-options,
.ui-messages-info, .ui-message-info{
    color:#000 !important;
}
nav ul li:hover,nav ul li:focus,
nav ul li a:focus,
nav ul ul,
.sair a:focus, .sair a:active{
background:#000;
}
.perfil:hover{
box-shadow:0 0 10px #000;
}
th.ui-state-default span,
.ui-datatable .ui-sortable-column,
nav ul li:hover a,nav ul li:focus a,
nav ul li a:focus,
footer,
footer a,
.ui-widget-header .ui-state-hover, .ui-widget-header .ui-state-focus,
.ui-menubar .ui-menuitem-link,
.perfil li,
.perfil .sair a,
.perfil .usuario,
.sair a:hover,
.sair a:focus, .sair a:active,
.ui-datepicker .ui-datepicker-header,
.ui-selectonemenu-panel .ui-selectonemenu-list-item:hover{
color:#fff;
}
.ui-messages-error, .ui-message-error,
.ui-button, .botao,
.ui-button:hover, .botao:hover,
.ui-button:focus,  .botao:focus,
.ui-button:active,  .botao:active{
color:#fff !important;
}
nav ul,
.perfil:hover{
background:#fff;
}
.ui-datepicker td:hover{
background-color:#fd0;
}
.ui-messages-info, .ui-message-info{
    background-color:#fd0 !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight,
nav ul ul li a:hover,nav ul ul li a:focus,
.perfil:focus, .perfil:active{
background:#fd0;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight{
    text-align: center;
}
.ui-datatable .ui-datatable-data tr.ui-row-editing td.ui-editable-column{
    padding: 0 5px !important;
}
details,
*::-moz-selection,
*::-webkit-selection,
*::selection{
background:#fd0 !important;
}
html{
background:#ECECEC;
}
header,
table label{
background:#F9F9F9;
}
header h2{
color:#AFAFAF;
}
nav ul ul li{
border-bottom:1px solid #353535;
}
table label{
color:#424242;
}
.ui-widget-header .ui-inputfield, .ui-widget-content .ui-inputfield,
.ui-paginator .ui-paginator-current, .ui-paginator .ui-paginator-rpp-options,
.ui-widget input{
background-color:#FFFAD7;
}
main .acesso, .acesso:hover{
    background-color:rgba(255,255,255,.8);
}
main .acesso, .acesso:hover{
    box-shadow:0 5px 10px rgba(0,0,0,.8);
}
.ui-widget input{
    font-size: 20px !important;
    padding: 5px 10px;
    box-sizing: border-box;
}
.ui-widget input,
.ui-widget input:hover{
    box-shadow:0px 2px 2px #8F8F8F inset;
}
.ui-radiobutton .ui-radiobutton-box,
.ui-radiobutton .ui-radiobutton-box:hover{
    box-shadow:0px 2px 5px #000 inset;
}
.ui-widget input:hover,
.ui-widget input:focus{
    font-size: 20px;
    background: #FFF6B7 !important;
    padding: 5px 10px;
    color: #000 !important;
}
.ui-widget-header, .ui-fieldset-legend{
background:#ECECEC !important;
}
.ui-datepicker .ui-datepicker-header,
.ui-paginator .ui-paginator-page,
.ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-last,
.ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev{
    color:#fff;
}
.ui-paginator .ui-paginator-page.ui-state-active{
    background-color: #30719E !important;
}
.ui-radiobutton .ui-radiobutton-box{
    background:#fff;
}
#welcome{
}
#welcome .formulario{
}
footer a{
    padding:3px 7px;
    text-decoration:none;
    background:#fff;
}
footer a:hover{
    color:#fff !important;
}
.monitor .ui-widget-content{
    border:0;
}
.monitor ol{
    padding:5px;
}
.monitor li{
    display:inline-block;
}
.monitor li button{
    padding:5px 10px;
    background: #fff !important;
    color: #33478C !important;
}
.monitor .ui-datalist-item .Prioridade{
    color: #fff !important;
}
.ui-datalist-item .ui-button{
    margin-left: 10px;
}
.ui-widget.triagem{
    font-size:15px;
    font-weight:bold;
    text-align:center;
    width:283.4px;
    margin:0 auto;
}
.ui-widget.triagem td.ui-panelgrid-cell{
    padding:0 !important;
    line-height:20px;
    border:0 !important;
}
.ui-widget.triagem .ui-widget-content{
    border:0 !important;
}
.ui-widget.triagem .c_data{
    font-weight:normal;
}
.ui-widget.triagem .c_senha{
    font-size:75px;
    line-height:55px;
}
.ui-widget.triagem .c_prioridade{
    font-size:20px;
}
.ui-state-active .ui-icon{
    background-image:none;
}
.ui-picklist .ui-picklist-list li:hover{
    color: #fff !important;
    background-color: #cd0a0a !important;
}
.ui-picklist .ui-picklist-list li:active{
    color: #000 !important;
}
.ui-picklist .ui-button{
    background-image: none !important;
}
.ui-picklist .ui-button .ui-icon-arrow-1-e{
    display: none;
}
.ui-picklist .ui-button.ui-picklist-button-add{
    background-size: 100% auto !important;
    background-position:center top -5px !important;
    background-image:url("#{resource['images/dir2.svg']}") !important;
}
.ui-picklist .ui-button .ui-icon-arrowstop-1-e{
    display: none;
}
.ui-picklist .ui-button.ui-picklist-button-add-all{
    background-size: 100% auto !important;
    background-position:center top -5px !important;
    background-image:url("#{resource['images/iniciar.svg']}") !important;
}
.ui-picklist .ui-button .ui-icon-arrow-1-w{
    display: none;
}
.ui-picklist .ui-button.ui-picklist-button-remove{
    background-size: 100% auto !important;
    background-position:center top -5px !important;
    background-image:url("#{resource['images/dir2.svg']}") !important;
    transform: scaleX(-1);
}
.ui-picklist .ui-button .ui-icon-arrowstop-1-w{
    display: none;
}
.ui-picklist .ui-button.ui-picklist-button-remove-all{
    background-size: 100% auto !important;
    background-position:center top -5px !important;
    background-image:url("#{resource['images/iniciar.svg']}") !important;
    transform: scaleX(-1);
}
.ui-spinner-input{
    padding-right: 20px !important;
}
.senha{
    background: #fd0;
    text-align: center;
    width: 150px;
}
.ani_pregar{
    animation: pregar .2s 1 linear;
}
.senha .senha_texto{
    font-size: 50px;
}
.terminal{
    background: #787878;
    text-align: center;
    color: #fff;
    display: block;
    width: 240px;
}
.terminal .terminal_texto{
    font-size: 50px;
}
.tempo5  {
    animation:tempo 5s 1 linear;
}
.tempo10{
    animation:tempo 10s 1 linear;
}
.tempo30{
    animation:tempo 30s 1 linear;
    opacity: 0;
}
.tempo_excedido{
    background-color:#cd0a0a;
    background-repeat: no-repeat;
    background-size: 50px auto;
    background-position: left top -5px;
    padding: 10px;
    padding-left: 40px !important;
    color: #fff;
}
/*páginas de seções*/
.pagina-folha{
}
.pagina-folha .ui-selectonemenu-trigger,
.pagina-folha .google-visualization-controls-categoryfilter li,
.pagina-folha .google-visualization-table-page-number.current,
.pagina-folha .google-visualization-table-div-page [role="button"] .goog-custom-button-inner-box,
.pagina-folha .ui-button{
    background-color: #34A853 !important
}
.pagina-folha .ui-button{
    box-shadow: none;
}
.pagina-folha .google-visualization-table-th.gradient:nth-child(odd){
    background-color: #34A853 !important;
}
.pagina-plansaude .ui-selectonemenu-trigger,
.pagina-plansaude .google-visualization-controls-categoryfilter li,
.pagina-plansaude .google-visualization-table-page-number.current,
.pagina-plansaude .google-visualization-table-div-page [role="button"] .goog-custom-button-inner-box,
.pagina-plansaude .ui-button{
    background-color: #4F8CCB !important
}
.pagina-plansaude .google-visualization-table-th.gradient:nth-child(odd){
    background-color: #4F8CCB !important
}
.menu-topo{
    background-color: #fff;
    display: inline-flex;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
}
.menu-botao {
    height: 50px;
    box-shadow: none;
    padding-left: 30px !important;
    background-size: 50px !important;
    float: left;
}
.menu-select{
    width: 100% !important;
}
.menu-select .ui-selectonemenu-label{
    background-color: #fff !important;
    padding: 0 20px;
    box-shadow: none;
    line-height:46px;
    font-size: 20px;
}
.menu-select .ui-selectonemenu-trigger{
    display: none;
}
/*botão favorito*/
.favorito{
    height: 50px;
    background-size: cover;
    box-shadow: none;
    background-position: bottom;
    transition: .3s all steps(2);
}
.favorito.ui-button{
    background-color: transparent !important;
    width: 60px;
}
.favorito:hover{
    transform: scale(1.3);
}
.favorito.ui-state-active{
    background-position: top;
}
.favorito-plansaude.ui-fieldset,
.favorito-fopag.ui-fieldset,
.favorito-epraja.ui-fieldset,
.favorito-patrimonio.ui-fieldset{
    padding: 0 !important;
}
.favorito-plansaude,
.favorito-plansaude .ui-fieldset-legend{
    background-color: #4F8CCB !important;
}
.favorito-plansaude .ui-fieldset-legend{
    color: #fff !important;
    font-weight: normal !important;
    background-image: url("#{resource['images/plansaude.svg']}") !important;
    background-size: 20px !important;
    background-repeat: no-repeat !important;
    padding: 0 10px 0 20px !important
}
.favorito-fopag,
.favorito-fopag .ui-fieldset-legend{
    background-color: #34A853 !important;
}
.favorito-fopag .ui-fieldset-legend{
    color: #fff !important;
    font-weight: normal !important;
    background-image: url("#{resource['images/folha.svg']}") !important;
    background-size: 20px !important;
    background-repeat: no-repeat !important;
    padding: 0 10px 0 20px !important
}
.favorito-epraja,
.favorito-epraja .ui-fieldset-legend{
    background-color: #c62f38 !important;
}
.favorito-epraja .ui-fieldset-legend{
    color: #fff !important;
    font-weight: normal !important;
}
.favorito-patrimonio,
.favorito-patrimonio .ui-fieldset-legend{
    background-color: #B38F53 !important;
}
.favorito-patrimonio .ui-fieldset-legend{
    color: #fff !important;
    font-weight: normal !important;
}
/* lista de Favoritos*/
.favoritos{
    border:0;
    background-color: transparent;
}
.favoritos .ui-widget-content{
    border:0;
    background-color: transparent;
}
/*cor do bloco favorito*/
.favoritos a .box{
    background-color: #34A853;
    color: #fff;
    height: 120px;
}
.favoritos a{
    text-decoration: none;
}
.favoritos .box .icone{
    height: 120px;
    width: 120px;
    background-size: cover;
    background-position: top;
}
.favoritos .box:hover .icone{
    background-position: center;
}
.favoritos .box .descricao h2{
}
/*select*/
.select-ano{
    width: 150px !important;
}
.select-ano .ui-selectonemenu-label{
    width: 133px !important;
}

/*elementos básicos*/
h2{
    font-weight: bold;
}
.negrito{
    font-weight: bold;
}

/*cores*/
.cinza{
    background-color: #ccc !important;
    color: #000 !important;
}
.azul{
    background-color: #2f4d8b !important;
    color: #fff !important;
}
.amarelo{
    background-color: #fd0 !important;
    color: #000 !important;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited{
    text-shadow: none;
}
.ui-tabs .ui-tabs-nav .ui-state-default{
    background-color: #fff;
}
.ui-tabs .ui-tabs-nav .ui-state-hover{
    background-color: #ffcc29;
}
.ui-tabs .ui-tabs-nav .ui-state-active{
    background-color: #008cc8;
}
.ui-tabs .ui-tabs-nav .ui-state-active a{
    color: #fff;
}

/*novo form*/
#welcome .ui-widget-content{
    border: 0;
}
.ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell .ui-inputtextarea-resizable{
    width: 100%;
    display: block;
    padding: 10px;
}
.ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell .icone2,
.ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell .iconebt{
    margin-top: 25px !important;
    border-radius: 0;
}
.ui-panelgrid.sobotao .ui-grid-responsive .ui-panelgrid-cell .icone2{
    margin-top:0px !important;
}
.ui-panelgrid.sobotao .ui-grid-responsive .ui-panelgrid-cell{
    min-height: 30px;
}
.ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell .ui-outputlabel .texto{
    width: 100%;
    display: block;
    font-weight: bold;
}
.ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell .ui-outputlabel .ui-spinner{
    width: auto;
}
.ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell{
}
.ui-panelgrid .ui-grid-responsive .ui-panelgrid-cell .ui-inputfield{
    width: 100%;
    display: block;
    box-sizing: border-box;
}
.ui-panelgrid .ui-panelgrid-cell{
    border: 0 !important;
}
/*omitir asterisco depois do input*/
.ui-outputlabel .ui-outputlabel-rfi{
    display: none;
}
.ui-panelgrid .ui-grid-responsive .ui-grid-row{
    border-top: 0 !important;
}
.ui-spinner{
    display: table !important;
}
.ui-slider .ui-slider-handle{
    border-radius: 100% !important;
    cursor: pointer !important;
}
.ui-tabs-panels{
    border-width: 0;
    padding: 1em 1.4em !important;
}
.ui-tabs-panels .ui-panelgrid-content{
    border: 0 !important;
}
.ui-tabs .ui-tabs-panel{
    padding: 0!important;
}
.ui-panel .ui-widget-content{
    border: 0 !important;
}
.ui-widget.ui-selectonemenu{
    border-radius: 0 5px 5px 0 !important;
}
/*fim novo form*/
/*menu button, botão opções, menu opções*/
.ui-menubutton .ui-button{
    background-image: url("#{resource['images/configuracao.svg']}") !important;
    background-position:center top 4px !important;
    background-size:80% auto !important;
    background-repeat:no-repeat !important;
    transition:all 0.3s ease 0s !important;
    height:40px !important;
    width:40px !important;
    display:inline-block;
    vertical-align:middle;
    border:0;
    cursor: pointer;
    margin: 0 auto !important;

}
.iconebt.ui-button .ui-button-text,
.ui-menubutton .ui-button .ui-button-text{
    display: none;
}
.ui-menubutton .ui-button:hover{
}
.ui-menu.ui-menu-dynamic{
}
.ui-menu .ui-menu-list .ui-menuitem{
}
.ui-menu .ui-menuitem-link{
    background-repeat:no-repeat !important;
    transition:all 0.3s ease 0s !important;
    background-size:30px auto !important;
    width: 100% !important;
    background-position: top -2px left !important;
    padding-left: 30px !important;
    color: #fff !important;
}
.unicet-pagina .ui-menu .ui-menuitem-link:hover{
    background-color: #34A853;
}
.ui-menu .ui-menuitem-link:active{
    background-position:left bottom !important;
    color: #2f4d8b !important;
}

/*BreadCrumb*/
.ui-breadcrumb a{
    text-decoration: none;
}
.ui-breadcrumb li:last-of-type a{
    text-decoration: underline;
}
.ui-breadcrumb ul li a.ui-icon-home{
    background-color: #2f4d8b;
    width: 30px;
    height: 30px;
    background-image: url("#{resource['images/casa.svg']}") !important;
    background-size: 100% auto;
    background-position: top center;
    border-radius: 100%;
}
.ui-breadcrumb-chevron{
    margin-top: 10px !important;
}
.cursos-botoes{
    text-align: center;
}
/*scrollbar chrome*/
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
/*recortar imagem*/

::-webkit-scrollbar-track-piece  {
    background-color: #D4D4D4;
}
::-webkit-scrollbar-thumb:vertical {
    background-color: #008cc8;
}
::-webkit-scrollbar-thumb:horizontal {
    background-color: #008cc8;
}


/*scrollbar firefox*/
@keyframes tempo{
    0%{
        pointer-events: none;
    }
    99%{
        pointer-events: none;
    }
    100%{
        pointer-events: auto;
    }
}
@keyframes pregar{
    0%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes surgir{
    0%{
        transform: scale(.3);
    }
    100%{
        transform: scale(1);
    }
}
@keyframes girarr{
    0%{
    }
    50%{
    }
    100%{
        transform:rotate(360deg);
    }
}
@keyframes girarl{
    0%{
    }
    50%{
    }
    100%{
        transform:rotate(-360deg);
    }
}
@keyframes balancar{
    0%{
        transform:rotate(0deg);
    }
    25%{
        transform:rotate(30deg);
    }
    75%{
        transform:rotate(-30deg);
    }
    100%{
        transform:rotate(0deg);
    }
}
@keyframes abrir{
    0%{
        transform:rotateY(90deg) rotateX(90deg);
    }
    99%{
        transform:rotateY(90deg) rotateX(90deg);
    }
    100%{
        transform:rotateY(0deg) rotateX(0deg);
    }
}
@keyframes abrir2{
    0%{
        transform:rotateX(90deg);
    }
    100%{
        transform:rotateX(0deg);
    }
}