<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
  xmlns:beans="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:security="http://www.springframework.org/schema/security"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security.xsd
           http://www.springframework.org/schema/context 
           http://www.springframework.org/schema/context/spring-context-3.2.xsd"> 
    
    <debug />
    <beans:import resource="spring-resources.xml"/>
    
    <http use-expressions="true">        
        <intercept-url pattern="/*" access="isAuthenticated()" /> 
        
        <intercept-url pattern="/configuracoes/*" access="isAuthenticated()" />
        <intercept-url pattern="/configuracoes/menu/*" access="isAuthenticated()" />
        <intercept-url pattern="/configuracoes/menu/cadastrar/*" access="isAuthenticated()" />
        <intercept-url pattern="/configuracoes/menu/editar/*" access="isAuthenticated()" />
        <intercept-url pattern="/configuracoes/perfil/*" access="isAuthenticated()" />        
        <intercept-url pattern="/configuracoes/perfil/cadastrar/*" access="isAuthenticated()" />        
        <intercept-url pattern="/configuracoes/perfil/editar/*" access="isAuthenticated()" />        
        <intercept-url pattern="/configuracoes/redefinir-senha-usuario/*" access="permitAll" /> 
        <intercept-url pattern="/configuracoes/usuario/*" access="isAuthenticated()" />
        <intercept-url pattern="/configuracoes/usuario/cadastrar/*" access="isAuthenticated()" />
        <intercept-url pattern="/configuracoes/usuario/editar/*" access="isAuthenticated()" />
        <intercept-url pattern="/configuracoes/meus-dados/*" access="isAuthenticated()" />        
        
        <intercept-url pattern="/segue-me/cadastros-gerais/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/cadastros-gerais/circulos/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/cadastros-gerais/diretor-espiritual/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/cadastros-gerais/diretor-espiritual/cadastrar/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/cadastros-gerais/diretor-espiritual/editar/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/cadastros-gerais/equipes/*" access="isAuthenticated()" />        
        <intercept-url pattern="/segue-me/cadastros-gerais/funcoes/*" access="isAuthenticated()" /> 
        <intercept-url pattern="/segue-me/cadastros-gerais/habilidades/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/cadastros-gerais/palestras/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/cadastros-gerais/paroquias/*" access="isAuthenticated()" />
        
        <intercept-url pattern="/segue-me/estrutura/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/estrutura/encontro/circulos/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/estrutura/encontro/circulos/editar/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/estrutura/encontro/equipes/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/estrutura/equipes/editar/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/estrutura/encontro/equipes/integrantes/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/estrutura/encontro/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/estrutura/encontro/cadastrar/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/estrutura/encontro/editar/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/estrutura/encontro/palestras/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/estrutura/conselho/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/estrutura/equipe-dirigente/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/estrutura/equipe-dirigente/cadastrar/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/estrutura/equipe-dirigente/editar/*" access="isAuthenticated()" />
        
        <intercept-url pattern="/segue-me/participantes/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/participantes/palestrantes/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/participantes/palestrantes/cadastrar/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/participantes/palestrantes/editar/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/participantes/seguidores/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/participantes/seguidores/cadastrar/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/participantes/seguidores/editar/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/participantes/seguimistas/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/participantes/seguimistas/cadastrar/*" access="isAuthenticated()" />
        <intercept-url pattern="/segue-me/participantes/seguimistas/editar/*" access="isAuthenticated()" />
        
        
        <security:access-denied-handler error-page="/login/semPermissao.xhtml" />
        
        <form-login login-page="/login/index.xhtml" always-use-default-target="true"  default-target-url="/index.xhtml" />            
        
        <custom-filter ref="concurrencyFilter" position="CONCURRENT_SESSION_FILTER"/>
        <session-management session-authentication-strategy-ref="sas"/>
        <logout invalidate-session="true" delete-cookies="JSESSIONID" />        
    </http>    
        
    <!-- Serviço de busca customizado (UserDetailsService) -->
    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="ParticipanteService"/>
    </authentication-manager>       
    
    <!-- Beans -->
    <beans:bean id="ParticipanteService" class="br.gov.to.santuario.seg.service.ParticipanteService" />    
    
    <beans:bean id="concurrencyFilter" class="org.springframework.security.web.session.ConcurrentSessionFilter">
        <beans:property name="sessionRegistry" ref="sessionRegistry"/>
        <beans:property name="expiredUrl" value="/login/index.xhtml" />
    </beans:bean>
    
    <beans:bean id="sas" class="org.springframework.security.web.authentication.session.ConcurrentSessionControlStrategy">
        <beans:property name="maximumSessions" value="1" />
        <beans:property name="exceptionIfMaximumExceeded" value="true" />
        <beans:constructor-arg name="sessionRegistry" ref="sessionRegistry" />
    </beans:bean>
    
    <beans:bean id="sessionRegistry" class="org.springframework.security.core.session.SessionRegistryImpl" />  
           
    
</beans:beans>
