/*!Jonimar.titan@gmail.com*/
/*menu acesso*/
.acesso{
    min-width: 100px;
    height: 50px;
    float: left;
    transition: all .2s;
    overflow: hidden;
    text-align: center;
    background-image: url("#{resource['images/menu1.svg']}");
    background-size: 50%;
    background-position: top center;
    background-repeat: no-repeat;
    position:absolute;
}

.acesso:hover{
    z-index: 101;
}
.acesso .caixa li{
    display: inline-block;
    list-style: none;
    margin: 3px;
}
main .acesso,
.acesso:hover{
    background-image: none;
    height: 93%;
    max-width: 500px;
    overflow-y: auto;
}
main .acesso, main .acesso:hover{
    box-shadow:none;
    max-width: 1000px;
    background-color: transparent;
    height: auto;
    position: relative;
    margin-bottom: 100px;
    overflow-y: hidden;
}
main .acesso{
    max-width: 100%;
    width: 100%;
    box-sizing: border-box;
}
main .acesso:hover{
    max-width: 100%;
    width: 100%;
}
main .acesso .caixa{
    display: block;
    width: 100%;
}
.caixa{
    display: block;
}
/*conteúdo interno*/
.caixa .ui-widget-content{
    background: transparent;
    border: 0;
}
.acesso .caixa{
    max-width: 1000px;
    margin: 0 auto;
    display: none;
}
/*menu lateral*/
.acesso:hover .caixa{
    display: block;
    margin: 0 auto;
}
main .acesso:hover .caixa{
    display: block;
    margin: 0 auto 0;
}
.box{
    display: block;
    overflow: hidden;
    transition: all .2s;
    min-width: 200px;
}
.box .icone, .box .descricao{
    float: left;
}
.box .icone{
    width: 80px;
    height: 100px;
    display: block;
}
.box .descricao {
    width: 120px;
    height: 100px;
}
.box .icone{
    background-position: center bottom 10px;
    background-size: 100%;
    transition: all .2s;
}
/*
a:hover .box, a:focus .box{
    transform: scale(1.05);
}
*/
a:hover .box .icone, a:focus .box .icone{
    background-position: center top 90px;
}
a:active .box{
    background-color: #30719E !important;
}
h1{
    font-size: 1.2em;
}
.box h2{
    font-size: 15px;
    text-align: center;
    display: block;
    padding: 10px;
    line-height: 15px;
}
.box{
    text-decoration: none;
}
.box p{
    font-size: .8em;
    line-height: 1.1em;
    display: block;
    padding: 0 10px;
    overflow: hidden;
}
.subox{
    transition: all .3s;
    height: 0px;
    transform: scale(0);
}
.subox:target{
    display: inline-block;
    transform: scale(1);
}
.subox .box{
}
/*icones*/
.vinculo{
    background-image: url("#{resource['images/vinculo.svg']}") !important;
}
.grupo{
    background-image: url("#{resource['images/grupo.svg']}") !important;
}
.grupo2{
    background-image: url("#{resource['images/grupo2.svg']}") !important;
}
.dupla{
    background-image: url("#{resource['images/dupla.svg']}") !important;
}
.trocar{
    background-image: url("#{resource['images/trocar.svg']}") !important;
}
.imprimir{
    background-image: url("#{resource['images/imprimir.svg']}") !important;
}
.usuario{
    background-image: url("#{resource['images/usuario.svg']}") !important;
}
.menu{
    background-image: url("#{resource['images/menu.svg']}") !important;
}
.formulario{
    background-image: url("#{resource['images/formulario.svg']}") !important;
}
.tabular{
    background-image: url("#{resource['images/tabular.svg']}") !important;
}
.tesoura{
    background-image: url("#{resource['images/tesoura.svg']}") !important;
}
.adicionar{
    background-image: url("#{resource['images/adicionar.svg']}") !important;
}
.visualizar{
    background-image: url("#{resource['images/olho.svg']}") !important;
}
.pesquisar{
    background-image: url("#{resource['images/pesquisar.svg']}") !important;
}
.medalha{
    background-image: url("#{resource['images/medalha.svg']}") !important;
}
.trofeu{
    background-image: url("#{resource['images/trofeu.svg']}") !important;
}
.doc{
    background-image: url("#{resource['images/doc.svg']}") !important;
}
.to-gov{
    background-image: url("#{resource['images/to-gov.svg']}") !important;
}
.tocantins-gov{
    background-image: url("#{resource['images/tocantins-gov.svg']}") !important;
}
.pagina{
    background-image: url("#{resource['images/pagina.svg']}") !important;
}
.ponto{
    background-image: url("#{resource['images/ponto.svg']}") !important;
}
.pontos{
    background-image: url("#{resource['images/pontos.svg']}") !important;
}
/*avaliação*/
.otimo{
    background-image: url("#{resource['images/otimo.svg']}") !important;
}
.bom{
    background-image: url("#{resource['images/bom.svg']}") !important;
}
.regular{
    background-image: url("#{resource['images/regular.svg']}") !important;
}
.ruim{
    background-image: url("#{resource['images/ruim.svg']}") !important;
}
.predio{
    background-image: url("#{resource['images/predio.svg']}") !important;
}
.casa{
    background-image: url("#{resource['images/casa.svg']}") !important;
}
.pc{
    background-image: url("#{resource['images/pc.svg']}") !important;
}
.agenda{
    background-image: url("#{resource['images/agenda.svg']}") !important;
}
.raio{
    background-image: url("#{resource['images/raio.svg']}") !important;
}
.boia{
    background-image: url("#{resource['images/boia.svg']}") !important;
}
.sino{
    background-image: url("#{resource['images/sino.svg']}") !important;
}
.pessoa9{
    background-image: url("#{resource['images/pessoa9.svg']}") !important;
}
.capelo{
    background-image: url("#{resource['images/capelo.svg']}") !important;
}
.user-doc{
    background-image: url("#{resource['images/user-doc.svg']}") !important;
}
.relogio{
    background-image: url("#{resource['images/relogio.svg']}") !important;
}
.cadeado{
    background-image: url("#{resource['images/cadeado.svg']}") !important;
}
.chave{
    background-image: url("#{resource['images/chave2.svg']}") !important;
}
.pessoa{
    background-image: url("#{resource['images/pessoa.svg']}") !important;
}
.apontar{
    background-image: url("#{resource['images/apontar.svg']}") !important;
}
.visto{
    background-image: url("#{resource['images/visto.svg']}") !important;
}
.visto2{
    background-image: url("#{resource['images/visto2.svg']}") !important;
}
.editar{
    background-image: url("#{resource['images/editar.svg']}") !important;
}
.moeda{
    background-image: url("#{resource['images/moeda.svg']}") !important;
}
.dinheiro{
    background-image: url("#{resource['images/dinheiro.svg']}") !important;
}
.bandeira{
    background-image: url("#{resource['images/bandeira.svg']}") !important;
}
.finalizar{
    background-image: url("#{resource['images/finalizar.svg']}") !important;
}
.grafico{
    background-image: url("#{resource['images/grafico.svg']}") !important;
}
.pizza{
    background-image: url("#{resource['images/pizza.svg']}") !important;
}
.grafico2{
    background-image: url("#{resource['images/painel2.svg']}") !important;
}
.atencao{
    background-image: url("#{resource['images/atencao.svg']}") !important;
}
.comentario{
    background-image: url("#{resource['images/comentario.svg']}") !important;
}
.configuracao{
    background-image: url("#{resource['images/configuracao.svg']}") !important;
}
.ferramentas{
    background-image: url("#{resource['images/ferramentas.svg']}") !important;
}
.lixeira{
    background-image: url("#{resource['images/lixeira.svg']}") !important;
}
.like{
    background-image: url("#{resource['images/like.svg']}") !important;
}
.dislike{
    background-image: url("#{resource['images/dislike.svg']}") !important;
}
.upload{
    background-image: url("#{resource['images/upload.svg']}") !important;
}
.download{
    background-image: url("#{resource['images/download.svg']}") !important;
}
.importar{
    background-image: url("#{resource['images/avancar-inf.svg']}") !important;
}
.trazer{
    background-image: url("#{resource['images/trazer.svg']}") !important;
}
.intranet{
    background-image: url("#{resource['images/intranet.svg']}") !important;
}
.listar{
    background-image: url("#{resource['images/lista.svg']}") !important;
}
.abrir{
    background-image: url("#{resource['images/abrir.svg']}") !important;
}
.entrar{
    background-image: url("#{resource['images/entrar.svg']}") !important;
}
.sair{
    background-image: url("#{resource['images/sair.svg']}") !important;
}
.cafe{
    background-image: url("#{resource['images/cafe2.svg']}") !important;
}
.filtro{
    background-image: url("#{resource['images/filtro.svg']}") !important;
}
.atualizar{
    background-image: url("#{resource['images/atualizar.svg']}") !important;
}
.folha{
    background-image: url("#{resource['images/folha.svg']}") !important;
}
.tocantins-mapa{
    background-image: url("#{resource['images/tocantins-mapa.svg']}") !important;
}
.estrela{
    background-image: url("#{resource['images/estrela-formas.svg']}") !important;
}
.estrela-vazia{
    background-image: url("#{resource['images/estrela-vazia.svg']}") !important;
}
.estrela-formas{
    background-image: url("#{resource['images/estrela-formas.svg']}") !important;
}
.educacao{
    background-image: url("#{resource['images/educacao.svg']}") !important;
}
.plansaude{
    background-image: url("#{resource['images/plansaude.svg']}") !important;
}
.ampulheta{
    background-image: url("#{resource['images/ampulheta.svg']}") !important;
}
.fogo{
    background-image: url("#{resource['images/fogo.svg']}") !important;
}
.folha3{
    background-image: url("#{resource['images/folha3.svg']}") !important;
}
.pena{
    background-image: url("#{resource['images/pena.svg']}") !important;
}
.seguranca{
    background-image: url("#{resource['images/seguranca.svg']}") !important;
}
.sparta{
    background-image: url("#{resource['images/sparta.svg']}") !important;
}
.sparta3{
    background-image: url("#{resource['images/sparta3.svg']}") !important;
}
.tipos{
    background-image: url("#{resource['images/tipos.svg']}") !important;
}
.tipos3{
    background-image: url("#{resource['images/tipos3.svg']}") !important;
}
.externo{
    background-image: url("#{resource['images/externo.svg']}") !important;
}
.administracao{
    background-image: url("#{resource['images/administracao.svg']}") !important;
}
.pasta{
    background-image: url("#{resource['images/pasta.svg']}") !important;
}
.carregar{
    background-image: url("#{resource['images/carregar.svg']}") !important;
}
.localizacao{
    background-image: url("#{resource['images/localizacao.svg']}") !important;
}
.servico{
    background-image: url("#{resource['images/servico.svg']}") !important;
}
.cartao{
    background-image: url("#{resource['images/cartao.svg']}") !important;
}
.laboratorio{
    background-image: url("#{resource['images/laboratorio.svg']}") !important;
}
.calendario{
    background-image: url("#{resource['images/calendario.svg']}") !important;
}
.esq{
    background-image: url("#{resource['images/esq.svg']}") !important;
}
.dir1{
    background-image: url("#{resource['images/dir.svg']}") !important;
}
.dir2{
    background-image: url("#{resource['images/dir2.svg']}") !important;
}
.editar{
    background-image:url("#{resource['images/editar.svg']}") !important;
}
.excluir{
    background-image:url("#{resource['images/excluir.svg']}") !important;
}
.novo{
    background-image:url("#{resource['images/novo.svg']}") !important;
}
.salvar{
    background-image:url("#{resource['images/salvar.svg']}") !important;
}
.voltar{
    background-image:url("#{resource['images/voltar.svg']}") !important;
}
.avancar{
    background-image:url("#{resource['images/avancar.svg']}") !important;
}
.pesquisar{
    background-image:url("#{resource['images/pesquisar.svg']}") !important;
}
.limpar{
    background-image:url("#{resource['images/limpar.svg']}") !important;
}
.visto{
    background-image:url("#{resource['images/visto.svg']}") !important;
}
.unicet{
    background-image: url("#{resource['images/unicet.svg']}") !important;
    background-position: center center !important;
}
.logo.unicet{
    background-position: top -10px center !important;
}
.unicet1{
    background-image: url("#{resource['images/unicet1.svg']}") !important;
    background-size: auto 150%;
}
.box:hover .unicet{
    background-position: center top !important;
}
.box:active .unicet{
    background-position: center bottom !important;
}

/*Blocos Novos*/
/*
main .acesso .caixa
*/
.secao{
    display: block;

}
.secao-ativa{
    background-color: #000;
}
.ui-accordion .ui-accordion-header{
    background-color: #fff;
}
.ui-accordion .ui-accordion-header .ui-icon{
    display: none;
}
.ui-accordion .ui-accordion-header.ui-state-active{
    background-color: #ffcc29;
    color: #000;
}
.ui-accordion .ui-accordion-header.ui-state-hover{
    background-color: #ffcc29;
    color: #000 !important;
}
.secao .ui-accordion .ui-accordion-header{
    background-color: #2f4d8b;
    color: #fff;
}
.secao .ui-accordion .ui-accordion-header.ui-state-active{
    background-color: #008cc8;
    color: #fff;
}
.secao .ui-accordion .ui-accordion-header.ui-state-hover{
    background-color: #ed3237;
    color: #fff !important;
}
.secao .ui-accordion .ui-state-active .ui-icon{
    background-image: url("/secad-dados/javax.faces.resource/images/ui-icons_ffffff_256x240.png.xhtml?ln=primefaces-aristo");
    background-color: transparent;
}
.secao .ui-accordion .ui-accordion-content{
    padding: 1em 1em;
}
.secao-titulo:hover{
    background-color:#30719E;
    color: #fff;
}

.secao a{
    text-decoration: none;
}
.acesso .caixa li{
    width: 100%;
    box-sizing: border-box;
}
.box .icone{
    width: 50px;
    height: 50px;
    background-position: center bottom;
}
a:hover .box .icone, a:focus .box .icone{
    background-position: center top;
}
.box .descricao {
    float: none;
    height: auto;
    width: auto;
}
.box .descricao h2{
    line-height: 30px;
    text-align: left;
    padding-left: 65px;
    font-size: 20px;
}
a .box{
    text-decoration: none !important;
}