/*!treedbox@gmail.com*/
/*
colors
azul-claro
#008cc8
Azul opaco
#30719E
cinza azulado
#999FB5
verde musgo
#7FB58B
*/
header h1{
color:#008cc8;
}
footer,
.botao2,
.ui-menu, .ui-menu .ui-menu-child,
.ui-selectonemenu .ui-selectonemenu-trigger,
.perfil,
.perfil .sair a,
.ui-state-default{
background:#008cc8;
}
.ui-widget-content .ui-state-default{
    background: #6d6d6d;
}
.ui-widget-content th.ui-state-default:nth-child(odd){
    background: #898888;
}
.ui-state-active .ui-icon,
.ui-datatable .ui-row-editor .ui-icon-pencil,
.acesso,
a:active .box{
background-color:#30719E;
}
a:hover .box{
    color: #000;
    background-color: #ffcc29;
}
.monitor .ui-datalist-item .Prioridade,
.ui-button{
background-color:#008cc8 !important;
}

.ui-selectonemenu:active .ui-selectonemenu-trigger{
background:#216DA9;
}
.ui-state-active .ui-icon{
background-color:#216DA9;
}
.botao:active{
background-color:#216DA9 !important;
}
footer a:active,
h1,
.projeto{
color:#30719E;
}
li.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-corner-all.ui-state-highlight,
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-widget-header .ui-state-focus,
.ui-selectonemenu:hover .ui-selectonemenu-trigger,
.sair a:hover{
background:#30719E;
}
.ui-treenode-label.ui-state-hover{
    color: #fff !important;
}

.redbg,
.monitor .ui-datalist-item .Prioridade:hover,
.ui-paginator-page.ui-state-active,
.ui-datatable .ui-sortable-column.ui-state-active,
.ui-paginator .ui-paginator-page:hover,
.ui-paginator .ui-paginator-next:hover,
.ui-paginator .ui-paginator-last:hover,
.ui-paginator .ui-paginator-first:hover,
.ui-paginator .ui-paginator-prev:hover,
.ui-messages-error, .ui-message-error, .botao:hover{
background-color:#008cc8 !important;
}
.ui-selectoneradio td:hover,
.ui-button-icon-only:hover .ui-icon, .ui-button-text-icon-left:hover .ui-icon, .ui-button-text-icon-right:hover .ui-icon,
.ui-radiobutton .ui-radiobutton-box:hover{
    background-color:#30719E;
}
.ui-datepicker .ui-datepicker-header,
.ui-paginator .ui-paginator-page,
.ui-paginator .ui-paginator-next,
.ui-paginator .ui-paginator-last,
.ui-paginator .ui-paginator-first,
.ui-paginator .ui-paginator-prev{
    background:#008cc8 !important;
}
.ui-datatable .ui-row-editor .ui-icon-pencil,
.ui-datatable .ui-row-editor .ui-icon-check,
.ui-datatable .ui-row-editor .ui-icon-close,
.ui-icon.ui-icon-check,
.ui-icon-circle-triangle-e,
.ui-icon-circle-triangle-s{
    background-color:#008cc8;
}
footer a{
    color:#008cc8 !important;
}
footer a:hover{
    background:#30719E;
}
/*Google Charts*/
.google-visualization-controls-categoryfilter ul{
    width: 100%;
}
.google-visualization-controls-categoryfilter li{
    border: 0;
    box-shadow: 0 0 5px #ccc;
    background-color: #008cc8 !important;
    color: #fff;
    padding: 5px 10px !important;
    border-radius: 5px !important;
    /* animation:pregar .3s 1 linear; */
}
.google-visualization-controls-categoryfilter li:hover{
    background-color: #30719E !important;
}
.google-visualization-controls-categoryfilter li .goog-link-button{
    padding: 0px 8px !important;
    margin-right: 5px;
    color: #000 !important;
}
.google-visualization-controls-categoryfilter li .goog-link-button:hover{
    background-color: #fd0;
    border-radius: 100%;
}
.google-visualization-controls-label{
display: block !important;
}
/*Tabela*/
.google-visualization-table{
    width: 100%;
}
/*Botão*/
.google-visualization-table-div-page [role="button"] .goog-custom-button-inner-box{
    font-size: 18px !important;
    padding: 5px 10px !important;
    line-height: 20px !important;
    background-color: #008cc8 !important;
    color: #fff;
}
.google-visualization-table-div-page [role="button"] .goog-custom-button-inner-box:hover{
    background-color: #30719E !important;
}
.google-visualization-table .gradient{
    background: transparent !important;
    border: 0 !important;
}
/*tabela*/
.google-visualization-table-table th{
    padding: auto 5px !important;
}
.google-visualization-table-th.gradient{
    color: #fff;
}
.google-visualization-table-th.gradient:nth-child(odd){
    background: #008cc8 !important;
}
.google-visualization-table-th.gradient:nth-child(even){
    background: #757575 !important;
}
/*elementos*/
.ocutar-combobox span.goog-combobox.goog-inline-block{
display: none;
}
.google-visualization-controls-categoryfilter{
}
.goog-combobox input.label-input-label{
    font-size: 20px;
    background: #fff !important;
    padding: 5px 10px;
    color: #ccc !important;
}
.goog-combobox input{
    width: auto !important;
}
#filtro_primeira_coluna .goog-combobox input.label-input-label{
    max-width: 250px !important;
}
#filtro_primeira_coluna{
    background: #F9F9F9;
}
#filtro_cabecalho{
    background: #F1F1F1;
}

/*componente gráfico*/
#grafico_div{
    max-width: 900px;
    height:auto;
    margin: 0 auto;
}

/*logo inicio*/
.logo-grande{
    display: block;
    width: 100%;
    height: 100px;
    margin: 15px auto;
    padding: 10px 0;
    background-repeat: no-repeat;
    background-position: center;
}
main .acesso .logo-grande{
    display: none;
}
.col-dois {
    min-width: 300px !important;
}
/*unicet*/
.unicet-pagina .caixa .box{
    background-color: #fff !important;
    color: #313131;
}
.unicet-pagina .caixa .box:hover{
    background-color: #ffcc29 !important;
    color: #000 !important;
}
.unicet-pagina .caixa.menu-lateral .box{
    background-color: #fff;
    color: #313131;
}
.unicet-pagina .caixa.menu-lateral .box h2{
    border-bottom: 0;
    line-height: 10px;
}
.unicet-pagina .caixa.menu-lateral .box:hover h2{
    color: #000;
}
.unicet-pagina .caixa.menu-lateral .ui-datalist-item{
    padding: 0;
}
.unicet-pagina .caixa.menu-lateral .ui-datalist-item{
    background-color: transparent;
}
.unicet-pagina .caixa.quadro-curso .ui-datalist-item{
    background-color: #fff;
}
.unicet-pagina header .logo.unicet1{
    background-image: url("#{resource['images/logo-bom-pastor2.svg']}") !important;
}
.unicet-pagina .ui-tabs .ui-tabs-panel .ui-widget-content{
    border: 0;
}
.unicet-pagina .ui-icon.ui-icon-check,
.unicet-pagina .botao,
.unicet-bg-cor,
.unicet-pagina footer,
.unicet-pagina .botao2,
.unicet-pagina .ui-menu,
.unicet-pagina .ui-menu .ui-menu-child,
.unicet-pagina .perfil .sair a,
.unicet-pagina .ui-dialog .ui-dialog-buttonpane button,

.unicet-pagina .monitor .ui-datalist-item .Prioridade:hover,
.unicet-pagina .monitor .ui-datalist-item .Prioridade:focus,
.unicet-pagina .ui-wizard-step-title.ui-state-highlight,
.unicet-pagina .ui-button,
.unicet-pagina .botao,
.unicet-pagina .perfil,
.unicet-pagina .ui-selectonemenu .ui-selectonemenu-trigger,
.unicet-pagina .ui-datepicker .ui-datepicker-header,
.unicet-pagina .ui-datepicker .ui-datepicker-current-day .ui-state-highlight,
.unicet-pagina .ui-datepicker .ui-datepicker-current-day .ui-state-default,

.unicet-pagina .ui-tabs.ui-tabs-top .ui-tabs-nav li.ui-tabs-selected,
.unicet-pagina .ui-paginator .ui-paginator-page,
.unicet-pagina .ui-paginator .ui-paginator-next,
.unicet-pagina .ui-paginator .ui-paginator-last,
.unicet-pagina .ui-paginator .ui-paginator-first,
.unicet-pagina .ui-paginator .ui-paginator-prev,
.unicet-pagina .ui-state-active .ui-icon,
.unicet-pagina .ui-datatable .ui-row-editor .ui-icon-pencil,
.unicet-pagina .acesso,
.unicet-pagina .box,
.unicet-pagina a:active .box{
    background-color:#2f4d8b;
}
.unicet-pagina .botoes-cursos{
    background-color: transparent;
    border: 0;
    padding: 0;
    transition: all .5s;
}
.unicet-pagina  .ui-tree .ui-treenode-label:hover,
.unicet-pagina .ui-button:hover,
.unicet-pagina .ui-button:focus,
.unicet-pagina .botao:hover,
.unicet-pagina .botao:focus,
.unicet-pagina .unicet-pagina .ui-datepicker .ui-datepicker-buttonpane button:hover,
.unicet-pagina .unicet-pagina .ui-datepicker .ui-datepicker-buttonpane button:focus,
.unicet-pagina .ui-datalist-item .botao2:hover,
.unicet-pagina .ui-datalist-item .botao2:focus,
.unicet-pagina .ui-tabs .ui-tabs-nav li:hover,
.unicet-pagina .ui-tabs .ui-tabs-nav li:focus,
.unicet-bg-cor:hover,
.unicet-bg-cor:focus{
    background-color: #00a859;
}
.unicet-pagina  .ui-tree .ui-treenode-label:hover,
.unicet-pagina .ui-tabs .ui-tabs-nav li:hover a,
.unicet-pagina .ui-tabs .ui-tabs-nav li:focus a{
    color: #fff;
}
.unicet-pagina .ui-selectonemenu .ui-selectonemenu-trigger:hover,
.unicet-bg:hover,
.unicet-bg:focus{
    background-color: #00a859 !important;
}
/*unicet bg */
.unicet-pagina .ui-selectonemenu .ui-selectonemenu-trigger,
.unicet-pagina .ui-datepicker .ui-datepicker-buttonpane button,
.unicet-pagina .ui-datepicker .ui-datepicker-header,
.unicet-pagina .perfil,
.unicet-bg{
    background:#2f4d8b !important;
}
.ui-selectonemenu-label.ui-inputfield{
    max-width: 200px !important;
}

.unicet-pagina .ui-button{
    background-color:#2f4d8b !important;
}
/*unicet cor*/
.unicet-cor,
.unicet-pagina footer a:active,
.unicet-pagina h1,
.unicet-pagina .projeto,
.unicet-pagina footer a,
.unicet-pagina header h1{
    color: #2f4d8b;
}
/*unicet cor hover*/
.unicet-cor{
    color: #2f4d8b;
}
.unicet-pagina main{
    /*background-color: rgba(0,0,0,.1);*/
    padding-top: 50px;
    margin-bottom: 50px;
}
.unicet-pagina .lista-cursos{
    background-color: transparent;
    border: 0;
    width: 100%;
    box-sizing: border-box;
}
.unicet-pagina .ui-datalist-item h1,
.unicet-pagina .ui-datalist-item h2{
    text-align: center;
    font-weight: bold;
    color: #2f4d8b;
    border-bottom: 2px solid #2f4d8b;
    width: 100%;
    margin-top: 10px;
}
.unicet-pagina .ui-datalist-item{
    background-color: #fff;
    display: inline-table;
    padding: 10px 20px;
    box-sizing: border-box;
    margin:0 10px 10px;
    width: calc(100% / 3 - 22px);
    vertical-align: top;
    transition: all .5s;
}
.unicet-pagina .ui-datalist-item img{
    width: 100%;
}
.unicet-pagina .cursos-lista .destaque{
    width: 100%;
    max-width: 700px;
}
.unicet-pagina .ui-datalist-item .botao2{
    width: 100%;
    box-sizing: border-box;
    background-position: top 8px left 15px !important;
    text-align: center;
}
.unicet-pagina .curso-informacoes .ui-datalist-item{
    width: calc(100% - 20px) !important;
}
.unicet-pagina .curso-informacoes .ementa{
    text-align: justify;
    padding: 10px;
    box-sizing: border-box;
}
.unicet-pagina .curso-informacoes .ui-datalist-item .destaque{
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
    display: block;
}
.unicet-pagina .cursos-lista{
    text-align: center;
}
.unicet-pagina .cursos-lista article{
    background-color: #fff;
    padding: 20px 20px 50px;
}
.unicet-pagina .cursos-lista h1{
    font-size: 1.3em !important;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    color: #2f4d8b;
    border-bottom: 2px solid #2f4d8b;
    width: 100%;
    height: 52px;
    margin-top: 10px;
    box-sizing: border-box;
}
.unicet-pagina .cursos-lista h1.cursos-capa{
    margin-bottom: 10px;
}
.unicet-pagina .cursos-lista h2{
    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: #2f4d8b;
    border-bottom: 2px solid #2f4d8b;
    width: 100%;
    margin-top: 10px;
}
.unicet-pagina .cursos-lista p{
    padding: 20px;
}
.unicet-pagina .cursos-lista .ementa{
    height: 230px;
    box-sizing: border-box;
    overflow: hidden;
}
/*unicet componentes específicos*/
.unicet-pagina .acesso:hover,
.unicet-pagina .perfil:hover{
    background-color: rgba(255,255,255,.8) !important;
}
.unicet-pagina .enquete .ui-datalist-item{
    width: 100%;
}
.unicet-pagina .enquete .ui-datalist-item .ui-outputlabel{
    margin-left: 26px;
}

.ui-inputswitch .ui-inputswitch-off, .ui-inputswitch .ui-inputswitch-on {
    overflow: visible !important;
    height: 25px !important;
}
    
.ui-selectoneradio label {
    margin: 0px !important;
}

.ui-selectoneradio .ui-radiobutton{
    padding:0 0px !important;
}
